{% extends "layouts/dashboard.twig" %}

{% import "macros/breadcrumbs.twig" as breadcrumbs %}

{% block head %}
    {{ parent() }}

    {{ renderAssets('dataTable.js') }}

    <script>
        ready(() => {
            let dataTable = new DataTable('#data_table');
        });
    </script>
{% endblock %}

{% block content %}
    {{ breadcrumbs.body(
        {
            'dashboard': 'My Dashboard'
        },
        'User Management'
    ) }}

    <h1>User Management</h1>

    <div class="card">
        <div class="card-body">
            <table class="table table-sm table-striped table-bordered align-middle mb-0" id="data_table">
                <thead>
                <tr>
                    <th scope="col" style="width:10%">UID</th>
                    <th scope="col">Username</th>
                    <th scope="col" style="width:10%">Admin?</th>
                    <th scope="col" style="width:10%">Mod?</th>
                    <th scope="col" style="width:10%">Team?</th>
                    <th scope="col" style="width:10%">DJ?</th>
                    <th scope="col" style="width:10%">Banned?</th>
                    <th data-dt-order="disable" scope="col" style="width:15%">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for row in records %}
                    <tr>
                        <th class="search" scope="row">{{ row.id }}</th>
                        <td class="search">{{ row.username }}</td>
                        {% if row.is_admin is same as 1 %}
                            <td class="text-bg-success">Yes</td>
                        {% else %}
                            <td class="text-muted">No</td>
                        {% endif %}
                        {% if row.is_mod is same as 1 %}
                            <td class="text-bg-success">Yes</td>
                        {% else %}
                            <td class="text-muted">No</td>
                        {% endif %}
                        {% if row.is_team is same as 1 %}
                            <td class="text-bg-success">Yes</td>
                        {% else %}
                            <td class="text-muted">No</td>
                        {% endif %}
                        {% if row.is_dj is same as 1 %}
                            <td class="text-bg-success">Yes</td>
                        {% else %}
                            <td class="text-muted">No</td>
                        {% endif %}
                        {% if row.banned is same as 1 %}
                            <td class="text-bg-danger">Yes</td>
                        {% else %}
                            <td class="text-muted">No</td>
                        {% endif %}
                        <td class="text-nowrap">
                            <a href="{{ urlFor('dashboard:profile', {id: row.id}) }}"
                               class="btn btn-primary btn-sm">
                                Edit
                            </a>
                            <a href="{{ urlFor('profile', {user: row.username}) }}"
                               class="btn btn-secondary btn-sm">
                                View
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
