{% extends "layouts/dashboard.twig" %}

{% import "macros/breadcrumbs.twig" as breadcrumbs %}

{% block head %}
    {{ parent() }}

    {{ renderAssets('frontend/dataTable.js') }}

    <script>
        ready(() => {
            let dataTable = new DataTable('#data_table');
        });
    </script>
{% endblock %}

{% block content %}
    {{ breadcrumbs.body(
        {
            'dashboard': 'My Dashboard'
        },
        'Spotlighted Worlds'
    ) }}

    <h1>Spotlighted Worlds</h1>

    <div class="card">
        <div class="card-body">
            <div class="buttons mb-3">
                <a href="{{ urlFor('dashboard:admin:worlds:create') }}" class="btn btn-lg btn-success">
                    <i class="bi-plus-circle-fill"></i> Add New Spotlighted World
                </a>
            </div>

            <table class="table table-sm table-striped table-bordered align-middle mb-0" id="data_table"
                   data-order="[[1, &quot;asc&quot;]]">
                <thead>
                <tr>
                    <th data-dt-order="disable" scope="col" style="width:15%">Image</th>
                    <th scope="col" style="width:70%">World Name</th>
                    <th data-dt-order="disable" scope="col" style="width:15%">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for row in records %}
                    <tr>
                        <td>
                            <img src="{{ mediaUrl(row.image) }}" alt="World Image" loading="lazy"
                                 style="max-width: 128px;">
                        </td>
                        <th class="search" scope="row">{{ row.title }}</th>
                        <td>
                            <a href="{{ urlFor('world', {id: row.id}) }}" class="btn btn-secondary btn-sm">
                                View
                            </a>
                            <a href="{{ urlFor('dashboard:admin:worlds:delete', {id: row.id}) }}"
                               class="btn btn-danger btn-sm" data-confirm-danger="Remove world?">
                                <i class="bi-trash" aria-hidden="true"></i> Remove
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
