{% extends "layouts/dashboard.twig" %}

{% import "macros/breadcrumbs.twig" as breadcrumbs %}

{% block head %}
    {{ parent() }}

    {{ renderAssets('dataTable.js') }}

    <script>
        ready(() => {
            let dataTable = new DataTable('#data_table');
        });
    </script>
{% endblock %}

{% block content %}
    {{ breadcrumbs.body(
        {
            'dashboard': 'My Dashboard'
        },
        'Manage Poster Types'
    ) }}

    <h1>Manage Poster Types</h1>

    <div class="card">
        <h2 class="card-header">View Poster Types</h2>
        <div class="card-body">
            <div class="buttons mb-3">
                <a class="btn btn-lg btn-success"
                   href="{{ urlFor('dashboard:admin:poster_types:create') }}">
                    <i class="bi-plus-circle-fill" aria-hidden="true"></i> Add Poster Type
                </a>
            </div>

            <table class="table table-striped table-bordered table-hover align-middle" id="data_table">
                <thead>
                <tr>
                    <th>Poster Type ID</th>
                    <th>Poster Type Description</th>
                    <th data-dt-order="disable" style="width:15%">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for row in records %}
                    <tr>
                        <td><code>{{ row.id }}</code></td>
                        <th scope="col">{{ row.description }}</th>
                        <td class="text-nowrap">
                            <a class="btn btn-sm btn-warning"
                               href="{{ urlFor('dashboard:admin:poster_types:edit', {id: row.id}) }}">
                                <i class="bi-pencil-fill" aria-hidden="true"></i> Edit
                            </a>
                            <a class="btn btn-sm btn-danger"
                               href="{{ urlFor('dashboard:admin:poster_types:delete', {id: row.id}) }}"
                               data-confirm-danger="Remove poster type? This will affect posters uploaded to this type as well."
                            >
                                <i class="bi-trash" aria-hidden="true"></i> Delete
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
